.App {
  background-color:rgba(0,0,0,0.8);
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.background {
  height: 100vh;
  background-image: url(./Images/doi1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(0.25) grayscale(1);
}

.container {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
}

.banner {
  width: 100%;
  align-content: right;
  display: flex;
  left: 0;
  filter: brightness(1) grayscale(0);
  position: relative;
}

.title {
  text-align: center;
  padding: 20px;
  color: white;
  font-size: 7vh;
  filter: brightness(1) grayscale(0);
  position: relative;
  text-align: center;
}

.links {
  color: black;
  flex: 1;
  padding: 15px;
  border: 15px;
  margin: 15px;
  text-align: center;
  font-size: 2vh;
}

.links:hover {
  color: white;
  background-color: black;
}

.icon {
  opacity: 0.7;
  flex: 1;
  padding: 15px;
  border: 15px;
  margin: 15px;
}
.icon:hover {
  opacity: 1;
}

.banner1 {
  display: flex;
  width: 50%;
}

.banner2 {
  display: flex;
  width: 50%;
}