.App {
  background-color:rgba(0,0,0,0.8);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.bg{
  background-image: url(./Images/doiSuthepSummit.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
}

.banner{
  width: 50%;
  align-content: right;
  display: flex;
  position: relative;
  left: 100vh;
}

.links {
  color: black;
  flex: 1;
  padding: 15px;
  border: 15px;
  margin: 15px;
  font-family: monaco;
  text-align: center;
}

.links:hover {
  color: white;
  background-color: black;
}

.title {
  text-align: center;
  padding: 20px;
  color: black;
  font-size: 5vh;
  font-family: monaco;
}